@charset "UTF-8";

/*================
font
==========================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*==================-
common
============================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100px;
}

body {
  line-height: 1.5;
  font-size: 0.16rem;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
  background-image: url("../img/muJ76z94JmPlkse1633129443_1633129454.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

a:hover {
  transition: .3s;
  opacity: .8;
}

.inner {
  width: 1000px;
  margin: auto;
  max-width: 90%;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  html {
    font-size: 75px;
  }
  body {
    font-size: calc((0.16rem * 100/50) * 0.9);
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 50px;
  }
  body {
    font-size: calc((0.16rem * 100/50) * 0.9);
  }
  .is_sp {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .is_pc {
    display: none;
  }
}

.user {
  padding: 80px 0 30px;
}
.user .ttl {
  font-size: 30px;
  text-align: center;
}



.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.ttls {
  font-size: 30px;
}
.txt {
  font-size: 24px;
}

.space {
  color: #333;
  background: #fff;
  width: 544px;
  margin: 50px auto;
  text-align: center;
  font-size: 32px;
  padding: 80px 0;
  max-width: 100%;
}

.btn {
  font-size: 22px;
  border: 2px solid #fff;
  width: 260px;
  margin: 20px auto;
  padding: 25px 0;
  max-width: 100%;
  text-align: center;
}

.btns {
  font-size: 22px;
  width: 260px;
  margin: 20px auto;
  padding: 25px 0;
  max-width: 100%;
  text-align: center;
}
/*====================
スマホ版
==============================*/
@media screen and (max-width: 767px) {

  .user {
    padding: 60px 0 20px;
  }

  .user .ttl {
    font-size: 20px;
  }
  
  .wrapper {
    padding: 15px 0;
  }
  .wrap {
    padding: 40px 0;
  }
  .box {
    width: 20%;
  }
  .box:last-child {
    width: 77%;
  }
  .txt {
    font-size: 16px;
  }
  .ttls {
    font-size: 20px;
  }
}
